.header {
    display: flex;
    gap: 10px 120px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 40px;
    font-style: bold;

    font-weight: bolder;
    max-width: 1280px;
    margin: 0 auto;

}

header a {
    text-decoration: none;
    color: #97b998;
    display: inline-block;
    transition: .2s;
}

header a:hover {

    color: #387782;
    transform: scale(1.05);
}

header .contato button {
    padding: 5px 40px;
    font-size: 15px;
    font-weight: 600;
    color: #f3f3f4;
    background-color: #1e517f;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 0 #171f4e;

}

header .contato button:hover,
form .btn-enviar input:hover {
    box-shadow: 0 5px 8px #0f1642;
    transform: scale(1.05);
}
/* ESTILO MENU MOBILE */

.btn-abrir-menu i{
    font-size: 40px;
    color: #f3f3f4;
    display: flex;
    justify-content: right;
    padding: 10px;
}
.menu-mobile{
    background-color: #1f262b;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
    
}
.menu-mobile.abrir-menu{
    width: 70%;
}
.btn-abrir-menu{
    display: none;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile .btn-fechar{
    padding: 20px 5%;
}
.menu-mobile .btn-fechar i{
    color: #749075;
    font-size: 30px;
}
.menu-mobile nav {
    text-align: right;
    
}
.menu-mobile nav a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    padding-right: 20px;
    display: block;
    
}
.menu-mobile nav a:hover{
    background-color: #5c785d ;
    color: #000000;
}
.overlay-menu{
    background-color: #000000d0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}
/* CORPO DO SITE */
.box {
    display: flex;
    gap: 150px;
}

h2.titulo {
    color: #f3f3f4;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #4a98a5;

}

h1.nome {
    color: #f3f3f4;
}

h1.nome span {
    gap: 10px;
    color: #5c785d;
}

.container {
    margin-top: 180px;
    margin-left: 160px;
    height: 200px;
    width: 520px;
    padding: 15px;


}

.container h1 {
    font-size: 2.5em;
    padding-bottom: 5px;
    margin-bottom: 30px;
    
    align-items: center;
    color: #f3f3f4;




}

.container p {
    color: #f3f3f4;
    font-size: 1.2em;
    display: flex;
    height: 150px;



}

body {
    background-color: #2d3c42;
}

.imgBox img {
    height: 530px;
    width: 530px;
    border-radius: 50%;
    border: 3px solid #5c785d;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;


}

.imgBox {
    margin-top: 50px;
    
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: right;
    margin-bottom: 70px;
    margin-right: 70px;

}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
.flex {
    display: flex;
}

section.especialidades {
    padding: 40px 4%;


}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #f3f3f4;
    padding: 40px;
    border-radius: 25px;
    margin-top: 45px;
    transition: .2s;

}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #f3f3f454;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #7e967f;

}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO PORTIFOLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #f3f3f415;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 4s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009c;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #f3f3f4;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO FORMULARIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #434744;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #f3f3f4;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #1e517f;
    color: #f3f3f4;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 4px 0 #171f4e;
    transition: .2s;

}

.mensagens {
    flex-flow: column;
    background-color: #0f1642;
    color: #f3f3f4;
    display: flex;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 30px;
    align-items: center;
    border-radius: 15px;
    border: 0.5px solid #f3f3f4;


}

/* ESTILO RODAPE */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #f3f3f415;
}

footer .flex {
    display: flex;
    justify-content: space-between;


}

footer .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    color: #ffffff;
    background-color: #5c785d;
}

footer .btn-social button:hover {
    box-shadow: 0 3px 2px #0f1642;
    transform: scale(1.05);

}

footer .line-footer {
    padding: 10px 0;

}

.borda {
    border-top: 2px solid #4a98a5;
}

footer .line-footer p i {
    color: #4a98a5;
    font-size: 22px;


}

footer .line-footer p a {
    color: #f3f3f4;


}

@media screen and (max-width: 1318px) {
    .btn-abrir-menu{
        display: block;
    }
    .nome {
        display: flex;
        
    }

    .box {
        gap: 15px;
        margin-bottom: 200px;
        align-items: center;
        flex-direction: column-reverse;

    }

    .especialidades-box {
        margin-top: 10px;
    }

    .flex {
        flex-direction: column;
    }
    h2.titulo {
        font-size: 34px;
        line-height: 30px;

    }
    
    .container {
        margin-top: 5px;
        width: 100%;
        margin: 0 auto;
        
        
    }

    .container h1 {
        font-size: 32px;

    }

    h1.nome {
        display: flex;
        flex-direction: column;


    }

    .imgBox {
        padding-top: 15px;
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        max-width: 360px;
    }

    .imgBox img {
    height: 100%;
    width: 100%;
    max-width: 360px;
    

    }

    /* CABECALHO */
    .header {
        display: none;
        
    }

    section.especialidades {
        padding: 40px 8%;
        


    }
    .img-port {
        width: 100%;
        height: 460px;
        max-width: 360px;
        margin: 0 auto;

    }
    section.portfolio .flex{
        gap:60px;
    }
    footer .line-footer {
        text-align: center;
        
    }
    footer .flex{
        gap: 30px;
    }
}